/*
 * Hubspot Form
 */

.hbspt-form .hs-form-field label {
  display: none; }

.hbspt-form ul.hs-error-msgs {
  margin-bottom: 10px !important;
  padding-bottom: 0; }

.hbspt-form ul.hs-error-msgs label,
.hbspt-form .input .multi-container label {
  display: block !important; }

.hs-form.stacked .hs-field-desc {
  margin: 0px 0px 2px 0px;
  font-size: 0.9rem;
  color: #fff; }

.hbspt-form input.hs-input,
.hbspt-form textarea.hs-input,
.hbspt-form .input select {
  background-color: #9EBCCF;
  color: #333;
  border-radius: 10px;
  border: 4px solid #9EBCCF;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  width: 100%;
  font-size: 0.9rem;
  transition: all ease-out 0.3s; }

.hbspt-form input.hs-input:focus,
.hbspt-form textarea.hs-input:focus,
.hbspt-form .input select:focus {
  background-color: #fff; }

.hbspt-form input.hs-input.error,
.hbspt-form textarea.hs-input.error,
.hbspt-form .input select.error {
  background-color: #9EBCCF;
  color: #333;
  border: 4px solid #50a4dc; }

.hbspt-form .input select {
  height: 37px;
  padding: 5px 15px; }


.hbspt-form textarea.hs-input {
  height: 9rem;
  max-width: 100%;
  width: 100%; }

.hbspt-form input.hs-button {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 13px 25px;
  border-radius: 10px;
  margin-top: 13px;
  transition: all ease-out 0.3s; }

.hbspt-form input.hs-button:hover {
  background-color: #fff;
  color: #015182; }

.hbspt-form .actions {
  text-align: right; }

.get-a-quote-button img:hover {
  cursor: pointer; }
